<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>617CF08C-345B-4C57-B0C2-16066E128F63</string>
	<key>storeUUID</key>
	<string>DF916C16-9699-4662-86B4-A7E15EEBC2BF</string>
</dict>
</plist>
