<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PHAAssetRevGeocodeEnrichmentTask</key>
	<date>2023-08-08T04:10:02Z</date>
	<key>PHACachingCPAnalyticsPropertiesTask</key>
	<date>2023-08-08T04:10:03Z</date>
	<key>PHAContactClassificationTask</key>
	<date>2023-06-01T19:37:37Z</date>
	<key>PHAFeaturesUsageReportingTask</key>
	<date>2023-08-08T04:09:42Z</date>
	<key>PHAForcedHighlightEnrichmentTask</key>
	<date>2023-07-10T19:59:04Z</date>
	<key>PHAGraphConsistencyTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHAGraphRebuildTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHAHighlightCollectionEnrichmentTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHAHighlightEnrichmentTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHAMediaSampleReportingTask</key>
	<date>2023-08-08T04:10:03Z</date>
	<key>PHAMemoriesEnrichmentTask</key>
	<date>2023-08-08T04:10:03Z</date>
	<key>PHAMemoryElectionTask</key>
	<date>2023-08-08T04:10:01Z</date>
	<key>PHAPeopleSuggestionEnrichmentTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHAPortraitDonationEnrichmentTask</key>
	<date>2023-08-08T04:10:03Z</date>
	<key>PHARevGeocodeSyndicationTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHASearchEnrichmentTask</key>
	<date>2023-08-08T04:10:03Z</date>
	<key>PHASuggestionGenerationTask</key>
	<date>2023-08-08T04:10:02Z</date>
	<key>PHASyndicationTask</key>
	<date>2023-08-08T04:09:56Z</date>
	<key>PHAUserBehaviorEnrichmentTask</key>
	<date>2023-08-05T21:32:22Z</date>
</dict>
</plist>
