<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhotoAnalysisLastMusicCacheMusicKitConsistencyJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicEvictDisplayMetadataCacheJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicForArtistCacheJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicForMomentCacheJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicForTimeBackfillCacheJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicForTimeFrontfillCacheJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicForTopicPrefetchJobDate</key>
	<date>2023-08-14T17:08:43Z</date>
	<key>PhotoAnalysisLastMusicForYouCacheJobDate</key>
	<date>2023-08-14T17:08:44Z</date>
	<key>PhotoAnalysisLastMusicPruneCacheSourcesJobDate</key>
	<date>2023-08-15T05:02:41Z</date>
</dict>
</plist>
